*, *:before, *:after {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Georgia;
}

body {
	color: black;
	background-color: #DDDDDD;
}

.title {
	display: inline-block;
	font-weight: bold;
	font-size: 24px;
	margin-right: 10px;
}

.author {
	color: #444;
	font-size: 14px;
	font-style: italic;
}

textarea {
	font-family: "Helvetica Neue", Georgia;
	padding: 8px;
	font-size: 16px;
	color: #999;
	border: none;
	outline: none;
	resize: none;

	line-height: 1.4em;

	&:active, &:focus {
		border: none;
		outline: none;
	}
}


#header, #footer {
	padding: 5px;
	font-size: 20px;
	line-height: 50px;
	vertical-align: middle;
	background: #43AA8B;
	color: white;
}

#header {
	position: absolute;
	left: 5px;
	right: 5px;
	height: 50px;
	border-radius: 3px;
	box-shadow: 0px 1px 2px grey;

	#logo-img, #login-logout {
		position: absolute;
		top: 3px;
		width: 44px;
		height: 44px;
		border-radius: 3px;
	}

	#logo-img {
		right: 3px;
	}

	#login-logout	{
		position: absolute;
		top: 10px;
		right: 290px;

		input, .username-active {
			display: inline-block;
			width: 220px;
			height: 30px;
			border: none;
			outline: none;
			line-height: 30px;
			vertical-align: middle;
			font-size: 20px;
			padding: 3px 15px 3px 15px;
			border-radius: 15px;
			overflow: hidden;
			word-break: break-all;
		}

		.username-active:hover {
			cursor: pointer;
		}

		#user-img {
			position: absolute;
			top: -7px;
			left: 230px;
			width: 44px;
			height: 44px;
			border-radius: 50%;

			text-align: center;
			line-height: 44px;
			vertical-align: middle;
		}
	}
}


#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	box-shadow: 0px -1px 2px grey;
}


#nested-container {
	position: absolute;
	top: 50px;
	bottom: 0;
	width: 100%;
}


#chatroom-list {
	position: absolute;
	left: 5px;
	width: 240px;
	top: 8px;
	bottom: 8px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px grey;
	background: #222;
	color: #eee;
	padding-left: 5px;

	input {
		display: inline-block;
		width: 220px;
		height: 30px;
		border: none;
		outline: none;
		line-height: 30px;
		vertical-align: middle;
		font-size: 20px;
		padding: 3px 15px 3px 15px;
		margin-bottom: 15px;
		border-radius: 15px;
		overflow: hidden;
		word-break: break-all;
	}

	.chatroom-entry {
		margin: 5px;

		&:hover {
			cursor: pointer;
		}

		&:active, &:hover, &.active {
			color: orange;
		}
	}
}

#chatroom {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 250px;
	right: 0;
}

#messages-area, #newMessageArea {
	left: 5px;
	right: 5px;
	background: white;
	border-radius: 3px;
	box-shadow: 1px 1px 2px grey;
}

#messages-area {
	position: absolute;
	top: 8px;
	bottom: 128px;
	overflow: auto;

	#messages {
		width: 100%;
		padding: 20px;
	}

	.message {
		width: 100%;
		height: 80px;

		padding: 8px;
		margin-bottom: 20px;

		background: #EEEEEE;
		border: 5px solid #DDDDDD;
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		//border-radius: 40px;
		//box-shadow: 1px 1px 1px grey, -1px -1px 1px grey;
	}
}

#newMessageArea {
	position: absolute;
	left: 5px;
	right: 8px;
	bottom: 8px;
	height: 112px;
	padding: 8px;

	#textbox-container {
		position: absolute;
		left: 8px;
		right: 110px;
		bottom: 8px;
		height: 95px;

		textarea {
			width: 100%;
			height: 100%;
			font-size: 1.2em;
		}
	}
}

#send-message	{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 80px;
	height: 50px;

	i.fa-paper-plane {
		font-size: 80px;

		&:hover {
			cursor: pointer;
		}
	}
}